[remote "tootsuite"]
    url = git@github.com:tootsuite/mastodon.git
    fetch = +refs/heads/*:refs/remotes/tootsuite/*
[push]
    remote = origin
[gsync]
    remote = tootsuite
    branch = master
[merge]
	allow = true
[branch "dev"]
    remote = origin
    merge = refs/heads/dev
[branch "master"]
    remote = tootsuite
    merge = refs/heads/master
[commit]
	message = n
[vrun]
	silent = false
